<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>MovieDB</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
</head>

<body>
	<div>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
			<a class="navbar-brand" href="/movies">MovieDB</a>
			<div class="collapse navbar-collapse" id="navbarColor02">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/movies">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
					<button type="submit" class="btn btn-secondary my-2 my-sm-0">Logout</button>
				</form>
			</div>
		</nav>
		<div class="container">
			<h2>Add Movie</h2>
			<form th:object="${movie}" th:action="@{save}" action="#" method="post">
				<div class="form-group row">
					<label for="title">Title</label>
					<input class="form-control mb-2" type="text" id="title" th:field="*{title}" />
					<br>
					<label for="author">Publication Year</label>
					<input class="form-control mb-2" type="text" id="author" th:field="*{publicationYear}" />
					<br>
					<label for="isbn">Description</label>
					<input class="form-control mb-2" type="text" th:field="*{description}" />
					<br />
					<label for="isbn">Image URL</label>
					<input class="form-control mb-2" type="text" th:field="*{imgUrl}" />
					<br />
					<label for="isbn">Trailer URL</label>
					<input class="form-control mb-2" type="text" th:field="*{trailerUrl}" />
					<button class="btn btn-success btn-lg btn-block mt-2" type="submit">Save</button>
				</div>
			</form>
		</div>
	</div>
</body>

</html>